/* Wavy Background Pattern */
.wave {
    position: relative;
    background: var(--clr-primary-gradient);
    color: var(--clr-text-light)
}

.wave::after {
    bottom: 0;
    content: '';
    position: absolute;
    background-color: var(--clr-neutral);
    width: 100%;
    height: 130px;
    -webkit-mask-image: url(../assets/svg/wave_bottom.svg);
    -webkit-mask-size: 1920px 130px;
    mask-image: url(../assets/svg/wave_bottom.svg);
    mask-size: 1920px 130px
}

.wave::before {
    top: 0;
    content: '';
    position: absolute;
    background-color: var(--clr-neutral);
    width: 100%;
    height: 148px;
    -webkit-mask-image: url(../assets/svg/wave_top.svg);
    -webkit-mask-size: 1920px 148px;
    mask-image: url(../assets/svg/wave_top.svg);
    mask-size: 1920px 148px
}

.header-wave {
    position: relative;
}

.header-wave::after {
    bottom: 0;
    left: 0;
    content: '';
    position: absolute;
    width: 100%;
    background-color: var(--clr-neutral);
    height: 264px;
    -webkit-mask-image: url(../assets/svg/wave_header.svg);
    -webkit-mask-size: 1920px 264px;
    mask-image: url(../assets/svg/wave_header.svg);
    mask-size: 1920px 264px;
}

header {

    background-image: url(../assets/images/Geburtstag_Header_Desktop.png);
    height: 881px;
    background-size: auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;

}


h2 {
    margin-bottom: 2rem;
}

h3 {
    font-size: var(--font-size-mobile-subhead);
}

h4 {
    font-size: var(--font-size-desktop-text);
    text-align: left;
    margin-bottom: 1.4rem;
}

.introduction-text {
    max-width: 89rem;
    margin-inline: auto;
    margin-bottom: 17rem;
}

.h3-form {
    text-align: left;
    margin-bottom: 4rem;
    margin-top: 9rem;
}


li {
    color: black;
    z-index: 999;
}


/* #ohne-animation {
    margin-left: 18rem;
}

label.essen {
    margin-right: 7rem;
}

label.trinken {
    margin-right: 8.3rem;
}

label.margin-waldmeister {
    margin-right: 6.3rem;
}

#wuerstchen-label {
    margin-right: 5.62rem;
}

#apfelsaft-label {
    margin-right: 7rem;
} */



div>img {
    width: 80%
}


.wave-container {
    padding-bottom: 2rem;
}


#pflicht {
    text-align: left;
}

.wrapper {
    display: flex;
    text-align: left;
    gap: 30rem;
}

/* .label-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 1rem;
}

label {
    margin-right: 4rem;
    text-align: left;
    font-size: var(--font-size-desktop-text);
}

form {
    text-align: left;
}

input {
    padding: 0.4rem 1rem;
    font-size: var(--font-size-tablet-text);
    border-radius: 4px;
    border: none;
}

input[type="radio"],
input[type="checkbox"] {
    height: 1.3em;
    width: 1.3em;
    vertical-align: middle;
    margin-right: 1.5rem;
}

select {
    padding: 0.5rem;
    font-size: var(--font-size-tablet-text);
    background-color: white;
    border: none;
    border-radius: 4px;
    padding-left: 1rem
}

hr {
    color: white;
    margin: 5rem 2rem;
}

#vorname {
    margin-left: 1.7rem;
}

#nachname {
    margin-left: 0.5rem;
}

#anrede {
    margin-left: 4rem;
}

#email {
    margin-right: 1.7rem;
}

#tel {
    margin-right: 1.2rem;
}

.margin-right {
    margin-right: 1rem;
}

#tag,
#monat,
#jahr,
#erwachsene {
    margin-right: 3rem;
}

.button-form {
    position: relative;
    background: transparent;
    border-radius: 6px;
    border: 2px solid white;
    color: var(--clr-text-light);
    margin-top: 2rem;
}

.left {
    margin-right: 5.3rem;
} */

@media (max-width: 922px) {
    header {
        background-image: url(../assets/images/Geburtstag_Header_tablet.png);
        height: 701px;
        background-size: cover;
    }

    h1 {
        font-size: var(--font-size-tablet-header);
    }

    h2 {
        font-size: var(--font-size-tablet-subhead);
    }

    h3 {
        font-size: var(--font-size-tablet-subhead);
    }

    div>p {
        font-size: var(--font-size-tablet-text);
    }



    .wave::after {
        bottom: 0;
        content: '';
        position: absolute;
        background-color: var(--clr-neutral);
        width: 100%;
        height: 130px;
        -webkit-mask-image: url(../assets/svg/wave_bottom_tablet.svg);
        -webkit-mask-size: 990px 130px;
        mask-image: url(../assets/svg/wave_bottom_tablet.svg);
        mask-size: 990px 130px;
    }

    .wave::before {
        top: 0;
        content: '';
        position: absolute;
        background-color: var(--clr-neutral);
        width: 100%;
        height: 116px;
        -webkit-mask-image: url(../assets/svg/wave_top_tablet.svg);
        -webkit-mask-size: 990px 116px;
        mask-image: url(../assets/svg/wave_top_tablet.svg);
        mask-size: 990px 116px;
    }

}

@media (max-width: 1400px) {
    .wrapper {
        flex-direction: column;
    }
}

@media (max-width: 576px) {
    h1 {
        font-size: var(--font-size-mobile-header);
    }

    /* .h3-form {
        margin-top: 0;
    } */

    /* #ohne-animation {
        margin-left: 14rem;
    } */

    header {
        background-image: url(../assets/images/Geburtstag_Header_mobil.png);
        height: 701px;
        background-size: cover;
    }


    h1 {
        font-size: var(--font-size-mobile-header);
    }

    h2 {
        font-size: var(--font-size-mobile-subhead);
    }

    h3 {
        font-size: var(--font-size-mobile-subhead);
    }

    div>p {
        font-size: var(--font-size-mobile-text);
    }

    li p {
        font-size: var(--font-size-mobile-footer);
    }

    li a {
        font-size: var(--font-size-mobile-footer);
    }

    @media (max-width: 576px) {
        h1 {
            font-size: var(--font-size-mobile-header);
        }




        header {
            background-image: url(../assets/images/Geburtstag_Header_mobil.png);
            height: 701px;
            background-size: cover;
        }


        h1 {
            font-size: var(--font-size-mobile-header);
        }

        h2 {
            font-size: var(--font-size-mobile-subhead);
        }

        h3 {
            font-size: var(--font-size-mobile-subhead);
        }

        div>p {
            font-size: var(--font-size-mobile-text);
        }

        li p {
            font-size: var(--font-size-mobile-footer);
        }

        li a {
            font-size: var(--font-size-mobile-footer);
        }
    }




}